@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    border-color: theme('colors.gray.200', currentColor);
  }
}

@keyframes gentle-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

a.gentle-clicked {
  animation: gentle-bounce 0.3s ease-out;
}
